@import url(variaveis.css);
@import url(cabecalho.css);
@import url(container.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
body {
    background-color: var(--background);
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

