@import url(variaveis.css);
@import url(cabecalho.css);
@import url(container.css);
@import url(personagens.css);

body {
    background-color: var(--background);
    color: aliceblue;
    font-family: "RobotoSlab-Bold.ttf", sans-serif;
}

